.vscode/
node_modules/
out/
.vscode-test/
data/
src/client
.dbsaicle

exe
bin
assets
tmp

gui/**

.devcontainer
.github

dbsaicle_rc_schema.json

e2e/_output
e2e/.test-extensions
e2e/storage
e2e/vsix
e2e/test-dbsaicle/*
!e2e/test-dbsaicle/config.json
e2e/test-dbsaicle-yaml/*
!e2e/test-dbsaicle-yaml/config.yaml
config-yaml-schema.json
src/.buildTimestamp.ts